<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买商品</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/vuescroll.css">
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/vuescroll-native.js"></script>
    <script src="js/vuescroll-slide.js"></script>
    <script src="js/vuescroll.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/msg.js"></script>
    <style>
        .el-carousel__item img {
            color: #475669;
            /*font-size: 14px;*/
            opacity: 0.75;
            line-height: 50px;
            margin: 0;

        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }
    </style>
</head>
<div id="buy">
    <el-container>
        <el-header  style="background-color: #b3d7ff">
            <el-row height="70px">
                <el-col :span="20">
                    <img src="img/logo.png" style="width: 50px;height: 50px;" alt="logo" @click="logoClick">
                </el-col>
                <el-col :span="1">
                    <el-badge :value="shoppingCartNumber" :hidden="this.shoppingCartNumber=='0'" class="item" style="float: right;margin-top: 10px">
                        <img src="img/shoppingCart.png" style="width: 40px;height: 40px;" @click="goShoppingCart">
                    </el-badge>
                </el-col>
                <el-col :span="1">
                    <el-badge :value="newMessageNumber" :hidden="this.newMessageNumber=='0'" class="item" style="float: right;margin-top: 10px">
                        <img src="img/message.png" style="width: 40px;height: 40px;" @click="openMessage">
                    </el-badge>
                </el-col>
                <!--存放头像等信息-->
                <el-col :span="2">
                    <el-popover
                            placement="right-start"
                            width="200"
                            trigger="hover">
                        <label>账号：{{userId}}</label><br>
                        <label>昵称：{{nickname}}</label><br>
                        <label>签名：{{sign}}</label>
                        <el-button @click="logout" type="danger">退出登录</el-button>
                        <img :src="avatar" style="border-radius: 20px;width: 60px;height: 60px;float: right" alt="用户头像" slot="reference" @click="avatarClick">
                    </el-popover>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <el-card style="width: 60%;margin: auto;min-width: 885px" v-model="shopGoodsData">
                <el-card style="float: left">
                    <img :src="showPic" style="width: 250px;height: 250px">

                    <el-carousel type="card" :autoplay="false" :loop="false" indicator-position="none" height="75px" @change="carouselChange" style="margin-top: 5px">
                        <el-carousel-item v-for="item in picList" :key="item"  style="width: 75px" >
                            <img :src="item" style="width: 75px;height: 75px;">
                        </el-carousel-item>
                    </el-carousel>

                </el-card>
                <el-card>
                    <h4>{{shopGoodsData.goodsName}}</h4>
                    <p>类型：{{shopGoodsData.typeName}}</p>
                    <p>品牌：{{shopGoodsData.brandName}}</p>
                    <p>描述：{{shopGoodsData.depict}}</p>
                    <p>规格：{{shopGoodsData.marque}}</p>

                    <p>存货：{{shopGoodsData.number}}&nbsp;&nbsp;&nbsp;&nbsp;销量：{{shopGoodsData.dealNumber}}</p>
                    <label>购买数量：</label>
                    <template>
                        <el-input-number v-model="shopGoodsData.num" :min="1" :max="shopGoodsData.number" size="mini"></el-input-number>
                    </template>
                    <p>定价￥<span style="font-size: 20px">{{shopGoodsData.price}}</span>元&nbsp;&nbsp;&nbsp;&nbsp;参考价￥{{shopGoodsData.originalPrice}}元</p>
                    <el-button type="text" @click="goShopDetails">{{shopGoodsData.shopName}}</el-button>
                    <el-button-group style="float: right">
                        <el-button type="primary" @click="makeDeal" size="mini">付款</el-button>
                        <el-button size="mini" @click="addPurchase">加入购物车</el-button>
                    </el-button-group>
                </el-card>
            </el-card>
        </el-main>
    </el-container>

    <el-dialog title="信息展示" :visible.sync="messageDgVisible" width="650px" height="650px">
        <div v-for="v in messageData">
            <p>
                <el-tag v-if="v.status=='new'" type="success">新</el-tag>
                {{v.message}}
                <el-button size="mini" type="danger" icon="el-icon-delete" @click="openDeleteMessage(v.id)" style="float: right"></el-button>
            </p>
        </div>
    </el-dialog>
</div>
<script type="text/javascript">
    new Vue({
        el:"#buy",
        data:function () {
            return{
                userId:0,
                goodsId:null,
                shopId:null,
                nickname:null,
                sign:null,
                avatar:null,
                shoppingCartNumber:0,
                newMessageNumber:0,
                messageDgVisible:false,
                messageData:[],

                showPic:null,
                shopGoodsData:{
                    num:0,
                },
                picList: [],


            };
        },
        methods:{
            showUser(){
                const _this=this;
                axios.get('http://'+window.location.host+'/user/getUserData',{params:{id:_this.userId}})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.nickname=response.data.rtnData.nickname;
                            _this.sign=response.data.rtnData.sign;
                            _this.avatar=response.data.rtnData.avatar;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '获取用户信息'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            logoClick:function(){
                window.location.href = "index.html?id="+this.userId;
            },
            avatarClick(){
                window.location.href = "information.html?id="+this.userId;
            },
            getShoppingCartCount:function(){
                const _this=this;
                axios.get('http://'+window.location.host+'/shoppingCart/getShoppingCartCount',{params:{id:_this.userId}})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.shoppingCartNumber=response.data.rtnData;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '获取购物车数量'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            goShoppingCart:function(){
                window.location.href = "shoppingCart.html?id="+this.userId;
            },
            logout:function(){
                this.$confirm('退出登录, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get('http://'+window.location.host+'/logout')
                        .then(function (response) {
                            window.location.href = "";
                        })
                        .catch(function (error) {
                        });
                    this.$message({
                        type: 'success',
                        message: '退出成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });
            },
            getNewMessageNumber:function(){
                const _this=this;
                axios.post('http://'+window.location.host+'/message/getNewMessageNumber',{latterId:_this.userId})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.newMessageNumber=response.data.rtnData;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{}
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },

            openMessage:function(){
                this.messageDgVisible=true;
                this.getMessage();
            },
            getMessage:function(){
                const _this=this;
                axios.post('http://'+window.location.host+'/message/getMessage',{latterId:_this.userId,type:"user"})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.messageData=response.data.rtnData;
                            _this.getNewMessageNumber();
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{}
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            openDeleteMessage:function(id){
                this.$confirm('删除该信息, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.deleteMessage(id);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            deleteMessage:function(id){
                const _this=this;
                axios.post('http://'+window.location.host+'/message/deleteMessage',{id:id})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.getMessage();
                            _this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{}
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },


            init:function () {
                const _this=this;
                axios.post('http://'+window.location.host+'/shopGoods/getOneShopGoods',{shopId:_this.shopId,
                    goodsId:_this.goodsId})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.shopGoodsData=response.data.rtnData;
                            _this.picList=response.data.rtnData.picList;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else if(response.data.rtnFlag=="3001"){
                            _this.$message({
                                message: '该商品已售罄，请浏览该超市其他商品',
                                type: 'warning'
                            });
                            this.timer = setTimeout(() => {

                                window.location.href = "shopDetails.html?shopId="+_this.shopId+"&userId="+_this.userId;

                            }, 3000);

                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '初始化信息'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            carouselChange:function(val){
                this.showPic=this.picList[val];
            },
            makeDeal:function () {
                const _this=this;
                axios.post('http://'+window.location.host+'/deal/addDeal',{userId:_this.userId,
                    shopId:_this.shopId,goodsId:_this.goodsId,number:_this.shopGoodsData.num,price:_this.shopGoodsData.price})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.$message({
                                message: '订单已生成！请到个人页面完成付款',
                                type: 'success'
                            });
                            this.timer = setTimeout(() => {
                                _this.init();
                            }, 2000);

                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '付款'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            addPurchase:function () {
                const _this=this;
                _this.$confirm('该商品将加入购物车, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.post('http://'+window.location.host+'/shoppingCart/addShoppingCart',{userId:_this.userId,
                        shopId:_this.shopId,goodsId:_this.goodsId})
                        .then(function (response) {
                            if(response.data.rtnFlag=="9999"){//请求成功
                                _this.$message({
                                    type: 'success',
                                    message: '加购成功！'
                                });
                            }else if(response.data.rtnFlag=="1001"){//未登录
                                //_this.loginDgVisible=true;
                            }else if(response.data.rtnFlag=="3001"){
                                _this.$message.error('该商品已加购！');
                            }else{
                                _this.$bdmsg({
                                    type:"toast",
                                    msgType:"error",
                                    message: '加购'+'失败！'+response.data.rtnMsg
                                });
                            }
                        }).catch(function (error) {
                        // handle error
                        console.log(error);
                    }).then(function () {
                        // always executed
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消加购'
                    });
                });
            },
            goShopDetails:function () {
                window.location.href = "shopDetails.html?shopId="+this.shopId+"&userId="+this.userId;
            },


        },
        mounted: function() {
            const _this=this;
            var url = window.location.href;
            var splitUrl =  url.split("?")[1];
            _this.goodsId = splitUrl.split("&")[0].split("=")[1];
            _this.userId = splitUrl.split("&")[1].split("=")[1];
            _this.shopId = splitUrl.split("&")[2].split("=")[1];
            _this.showUser();
            _this.getShoppingCartCount();
            _this.getNewMessageNumber();
            _this.init();
        },
    });
</script>
</body>
</html>