<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>商品列表</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/vuescroll.css">
    <style>
        #box ul{
            display: flex;
            flex-wrap: wrap;
        }
        #box li{
            padding: 5px;
            list-style: none;
            margin-right: 15px;
            border: 1px solid #eee;
        }
        #box img{
            width: 200px;
            height: 200px;
            border-radius: 10px;
        }
    </style>

</head>
<body>
<div id="index">
    <el-container>
        <el-header  style="background-color: #b3d7ff">
            <el-row height="70px">
                <el-col :span="4">
                    <img src="img/logo.png" style="width: 50px;height: 50px;" alt="logo" @click="logoClick">
                </el-col>
                <el-col :span="10" style="margin-top: 10px">
                    <el-cascader expand-trigger="hover" :options="options"  placeholder="请选择类型" :clearable="true"
                                         :change-on-select="true" :show-all-levels="false" @change="topHandleChange">
                    </el-cascader>
                    <el-input v-model="searchName" placeholder="请输入商品名" style="width: 180px"></el-input>
                    <el-button type="primary" @click="search">搜索</el-button>
                </el-col>
                <el-col :span="7">
                    <el-badge :value="shoppingCartNumber" class="item" style="float: right;margin-top: 10px">
                        <img src="img/shoppingCart.png" style="width: 40px;height: 40px;" @click="goShoppingCart">
                    </el-badge>
                </el-col>
                <!--存放头像等信息-->

                <el-col :span="3">
                    <el-popover
                            placement="right-start"
                            width="200"
                            trigger="hover">
                            <label>账号：{{userId}}</label><br>
                            <label>昵称：{{nickname}}</label><br>
                            <label>签名：{{sign}}</label>
                        <img :src="avatar" style="border-radius: 20px;width: 60px;height: 60px;float: right" alt="用户头像" slot="reference" @click="avatarClick">
                    </el-popover>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <el-card>
                <div id="box">
                    <ul>
                        <li v-for="v in cardData">
                            <img v-bind:src="v.condensePicLink" alt="v.name" @click="goodsClick(v.id)">
                            <p>{{v.name}}</p>
                            <p>{{v.brandName}} &nbsp;&nbsp;{{v.marque}}</p>
                            <p>存货:{{v.number}}&nbsp;&nbsp;￥{{v.price}}元</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <br>
                    <el-pagination
                            :page-sizes="[6, 12, 24, 48]"
                            :current-page="current"
                            :page-size.sync ="size"
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="total">
                    </el-pagination>
                </div>
            </el-card>
        </el-main>
    </el-container>

</div>
</body>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vuescroll-native.js"></script>
<script src="js/vuescroll-slide.js"></script>
<script src="js/vuescroll.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    /**
     * 页面加载完毕打印键值对对象
     */
    window.onload = function () {
        const _this=this;

    };
    new Vue({
        el:"#index",
        data:function(){
            return{
                userId:0,
                nickname:null,
                sign:null,
                avatar:null,
                shoppingCartNumber:0,

                searchName:null,
                typeId:null,
                options:[],
                cardData:[],
                current:1,
                size:6,
                total:null,




            }

        },
        methods:{
            showUser(){
                const _this=this;
                axios.get('http://'+window.location.host+'/user/getUserData',{params:{id:_this.userId}})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.nickname=response.data.rtnData.nickname;
                            _this.sign=response.data.rtnData.sign;
                            _this.avatar=response.data.rtnData.avatar;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: msg+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            logoClick:function(){
                window.location.href = "index.html?id="+this.userId;
            },
            avatarClick(){
                window.location.href = "information.html?id="+this.userId;
            },
            getShoppingCartCount:function(){
                const _this=this;
                axios.get('http://'+window.location.host+'/shoppingCart/getShoppingCartCount',{params:{id:_this.userId}})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.shoppingCartNumber=response.data.rtnData;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: msg+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            goShoppingCart:function(){
                window.location.href = "shoppingCart.html?id="+this.userId;
            },


            search(){
                this.initTable();
            },
            topHandleChange(value){
                this.typeId=value[value.length-1];
            },
            getParentGoodsType:function(){
                const _this=this;
                axios.get('http://'+window.location.host+'/goodsType/getParentGoodsType')
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.options=response.data.rtnData;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: "获取上级类型数据"+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            goodsClick(id){
                window.location.href = "details.html?goodsId="+id+"&userId="+this.userId;
            },
            initTable:function(){
                const _this=this;
                axios.post('http://'+window.location.host+'/goods/getGoodsPage',{size:_this.size,
                    current:_this.current,typeId:_this.typeId,name:_this.searchName,status:"enabled",number:1})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.cardData=response.data.rtnData;
                            _this.total=response.data.total;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: msg+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            handleSizeChange:function(val) {
                this.size=val;
                this.initTable();
            },
            handleCurrentChange:function(val) {
                this.current=val;
                this.initTable();
            },


        },
        mounted: function() {
            const _this=this;
            var url = window.location.href;
            _this.userId = url.split("?")[1].split("=")[1];
            _this.getParentGoodsType();
            _this.initTable();
            _this.showUser();
            _this.getShoppingCartCount();
        },
    });
</script>
</html>
