<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/vuescroll.css">
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
<div id="information" style="width: 100%">
    <el-container>
        <el-header  style="background-color: #b3d7ff">
            <el-row height="70px">
                <el-col :span="14">
                    <img src="img/logo.png" style="width: 50px;height: 50px;" alt="logo" @click="logoClick">
                </el-col>
                <el-col :span="7">
                    <el-badge :value="shoppingCartNumber" class="item" style="float: right;margin-top: 10px">
                        <img src="img/shoppingCart.png" style="width: 40px;height: 40px;" @click="goShoppingCart">
                    </el-badge>
                </el-col>
                <!--存放头像等信息-->

                <el-col :span="3">
                    <el-popover
                            placement="right-start"
                            width="200"
                            trigger="hover">
                        <label>账号：{{userId}}</label><br>
                        <label>昵称：{{nickname}}</label><br>
                        <label>签名：{{sign}}</label>
                        <img :src="avatar" style="border-radius: 20px;width: 60px;height: 60px;float: right" alt="用户头像" slot="reference" @click="avatarClick">
                    </el-popover>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <!--个人信息模块-->
            <div style="margin:50px auto 0px; width: 500px;" >
                <div style="height:250px">
                    <img :src="avatar" style="float: left;width: 250px;height: 250px">
                    <div style="float:right">
                        <p>昵称：{{nickname}}</p>
                        <p>年龄：{{age}} 性别：{{gender}}</p>
                        <p>签名：{{sign}}</p>
                        <p>地址：{{address}}</p>
                        <el-button @click="openDg_modifyUser">修改信息</el-button>
                    </div>
                </div>
            </div><br>
            <!--交易列表-->
            <div style="width:90% ; margin: auto">
                <el-tabs @tab-click="handleTabClick">
                    <el-tab-pane label="全部" name="all"></el-tab-pane>
                    <el-tab-pane label="待付款" name="waitPay"></el-tab-pane>
                    <el-tab-pane label="待发货" name="waitSend"></el-tab-pane>
                    <el-tab-pane label="待收货" name="waitConfirm"></el-tab-pane>
                    <el-tab-pane label="待评价" name="waitComment"></el-tab-pane>
                    <el-tab-pane label="待退款" name="waitRefund"></el-tab-pane>
                    <el-tab-pane label="完成" name="over"></el-tab-pane>
                </el-tabs>
                <el-table border empty-text=" " height="50px" style="width: 100%">
                    <el-table-column label="宝贝" min-width="40%"></el-table-column>
                    <el-table-column label="单价" min-width="15%"></el-table-column>
                    <el-table-column label="数量" min-width="15%"></el-table-column>
                    <el-table-column label="操作" min-width="30%"></el-table-column>
                </el-table>
                <div v-for="t in tableData" style="width: 100%">
                    <el-card style="font-weight: bold">
                        <el-row>
                            <el-col :span="5"><span>创建时间:{{t.createTime}}</span></el-col>
                            <el-col :span="7"><span>交易单号:{{t.dealId}}</span></el-col>
                            <el-col :span="4"><span>超市名:{{t.shopName}}</span></el-col>
                            <el-col :span="2">状态:
                                <el-tag v-if="t.status == 'waitPay'">待付款</el-tag>
                                <el-tag v-if="t.status == 'waitSend'">待发货</el-tag>
                                <el-tag v-if="t.status == 'waitConfirm'">待收货</el-tag>
                                <el-tag v-if="t.status == 'waitComment'">待评价</el-tag>
                                <el-tag v-if="t.status == 'waitRefund'">待退款</el-tag>
                                <el-tag v-if="t.status == 'over'">完成</el-tag>
                            </el-col>
                            <el-col :span="3">交易总额:￥<span style="font-size: 18px">{{t.dealPrice}}</span>元</el-col>
                            <el-col :span="3">
                                <el-button-group>
                                    <el-button size="small" v-if="t.status == 'waitPay'" type="primary" @click="openPay(t.dealId)">付款</el-button>
                                    <el-button size="small" v-if="t.status == 'waitConfirm'" type="primary" @click="openConfirm(t.dealId)">收货</el-button>
                                    <el-button size="small" v-if="t.status == 'waitComment'" type="success" @click="openComment(t.dealId)">评价</el-button>
                                    <el-button size="small" v-if="t.status == 'waitSend'" type="primary">提醒发货</el-button>
                                    <el-button size="small" v-if="t.status != 'waitPay' && t.status != 'over'" type="warning">退款</el-button>
                                    <el-button size="small" v-if="t.status == 'waitPay'" type="danger" @click="openDelete(t.dealId)">撤销</el-button>
                                </el-button-group>
                            </el-col>
                        </el-row>
                    </el-card>
                    <el-card v-for="v in t.cardData" style="height: 55px">
                        <el-row>
                            <el-col :span="10"><span>{{v.goodsName}}</span></el-col>
                            <el-col :span="4"><span>￥{{v.goodsPrice}}元</span></el-col>
                            <el-col :span="3"><span>{{v.goodsNumber}}</span></el-col>
                            <el-col :span="6">

                            </el-col>
                        </el-row>
                    </el-card><br>
                </div>

                <el-pagination
                        :page-sizes="[3, 6, 9, 15]"
                        :current-page="current"
                        :page-size="size"
                        :total="total"
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        layout="total, sizes, prev, pager, next, jumper">
                </el-pagination>
            </div>
        </el-main>
    </el-container>
<!--修改用户信息弹窗-->
    <el-dialog id="modifyDg" :title="modifyDgTitle" :visible.sync="modifyDgVisible"  width="350px" @close="dialogClose('modifyDgVisible')">
        <el-form :model="modifyForm"  :rules="modifyFormRules" ref="modifyForm" label-width="60px">
<!--            <el-form-item prop="avatar">-->
<!--                <el-upload-->
<!--                        class="avatar-uploader"-->
<!--                        :action="/img"-->
<!--                        :show-file-list="false"-->
<!--                        :on-success="handleAvatarSuccess"-->
<!--                        :before-upload="beforeAvatarUpload">-->
<!--                    <img v-if="modifyForm.avatar" :src="modifyForm.avatar" class="avatar">-->
<!--                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>-->
<!--                </el-upload>-->
<!--            </el-form-item>-->
            <el-form-item label="昵称" prop="nickname">
                <el-input v-model="modifyForm.nickname" autocomplete="off" clearable></el-input>
            </el-form-item>

            <el-form-item label="性别" prop="gender">
                <el-select v-model="modifyForm.gender" placeholder="请选择性别">
                    <el-option label="男" value="男"></el-option>
                    <el-option label="女" value="女"></el-option>
                    <el-option label="未知" value="未知"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="签名" prop="sign">
                <el-input v-model="modifyForm.sign" autocomplete="off" clearable></el-input>
            </el-form-item>

            <el-form-item label="地址" prop="address">
                <el-input v-model="modifyForm.address" autocomplete="off" clearable></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" size="mini" @click="modifyAccount">保 存</el-button>
        </div>
    </el-dialog>

</div>
</body>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vuescroll-native.js"></script>
<script src="js/vuescroll-slide.js"></script>
<script src="js/vuescroll.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script scr="js/utils.js"></script>
<script scr="js/msg.js"></script>
<script type="text/javascript">
    /**
     * 页面加载完毕打印键值对对象
     */
    window.onload = function () {

    };
    new Vue({
        el:"#information",
        data:function(){
            return{

                shoppingCartNumber:0,
                //账户信息
                userId: null,
                nickname: null,
                age: null,
                address: null,
                gender: null,
                sign: null,
                avatar: null,
                //交易信息
                current:1,
                size:3,
                total:0,
                tableData:[],
                status:null,

                //修改账号弹窗参数
                modifyDgTitle:null,
                modifyDgVisible:false,
                modifyForm:{
                    id:null,
                    nickname: null,
                    gender:null,
                    sign:null,
                    address:null,
                    avatar:null,
                },
                modifyFormRules:{
                    nickname: [
                        { required: true, message: '请输入姓名', trigger: 'blur' },
                        { min: 2,  message: '不可少于2个字符', trigger: 'blur' }
                    ],
                    gender:[
                        {trigger: ['blur','change']}
                    ],
                    sign:[
                        { required: true, message: '请输入邮箱地址', trigger: 'blur' },
                        { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
                    ],
                    address:[
                        { required: true, message: '请输入用户名', trigger: 'blur' },
                        { min: 2,  message: '不可少于2个字符', trigger: 'blur' }
                    ],
                },
            }
        },
        methods:{
            getShoppingCartCount:function(){
                const _this=this;
                axios.get('http://'+window.location.host+'/shoppingCart/getShoppingCartCount',{params:{id:_this.userId}})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.shoppingCartNumber=response.data.rtnData;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: msg+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            logoClick:function(){
                window.location.href = "index.html?id="+this.userId;
            },
            avatarClick(){
                window.location.href = "information.html?id="+this.userId;
            },
            goShoppingCart:function(){
                window.location.href = "shoppingCart.html?id="+this.userId;
            },


            initForm:function(){
                const _this=this;
                axios.get('http://'+window.location.host+'/user/getUserData',{params:{id:_this.userId}})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.nickname=response.data.rtnData.nickname;
                            _this.age=response.data.rtnData.age;
                            _this.address=response.data.rtnData.defaultAddress;
                            _this.gender=response.data.rtnData.gender;
                            _this.sign=response.data.rtnData.sign;
                            _this.avatar=response.data.rtnData.avatar;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '初始化个人信息'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },

            initTable:function(){
                const _this=this;
                axios.post('http://'+window.location.host+'/deal/getDealPage',{size:_this.size,current:_this.current,userId:_this.userId,status:_this.status})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.tableData=response.data.rtnData;
                            _this.total=response.data.total;
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '初始化交易列表数据'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },

            dialogClose(visible,form){
                //form 重置没做到
                if(form){
                    this.resetForm(form);
                }
                this[visible]=false;
            },
            openDg_modifyUser(){
                this.modifyDgTitle='修改用户信息（'+this.userId+"）"
                this.modifyForm.id=this.userId;
                this.modifyForm.nickname=this.nickname;
                this.modifyForm.address=this.address;
                this.modifyForm.sign=this.sign;
                this.modifyForm.gender=this.gender;
                this.modifyDgVisible=true;
            },
            modifyAccount(){
                var _this=this;
                axios.post('http://'+window.location.host+'/user/modifyUser',
                    {   id:_this.modifyForm.id,
                        nickname: _this.modifyForm.nickname,
                        address:_this.modifyForm.address,
                        sign:_this.modifyForm.sign,
                        gender:_this.modifyForm.gender,
                    }).then(function (response) {
                    if(response.data.rtnFlag=="9999"){//请求成功
                        _this.$bdmsg({
                            type:"toast",
                            msgType:"success",
                            message: '账号信息修改成功！'
                        });
                        _this.modifyDgVisible=false;
                        _this.initTable();
                    }else if(response.data.rtnFlag=="1001"){//未登录
                        //_this.loginDgVisible=true;
                    }else{
                        _this.$bdmsg({
                            type:"toast",
                            msgType:"error",
                            message: '账号信息修改失败！'+response.data.rtnMsg
                        });
                    }
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },


            handleSizeChange:function(val) {
                this.size=val;
                this.initTable();
            },
            handleCurrentChange:function(val) {
                this.current=val;
                this.initTable();
            },
            handleTabClick:function(obj){
                if(obj.name=="all"){
                    this.status=null;
                    this.initTable();
                } else{
                    this.status=obj.name;
                    this.initTable();
                }
                this.current=1;
             },

            handleAvatarSuccess(res, file) {
                this.modifyForm.avatar = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg'||file.type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },

            pay:function(dealId){
                const _this=this;
                axios.post('http://'+window.location.host+'/deal/changeDealStatus',{dealId:dealId,status:"waitSend"})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.initTable();
                            _this.$message({
                                message: '付款成功',
                                type: 'success'
                            });

                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '付款'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            confirm:function(dealId){
                const _this=this;
                axios.post('http://'+window.location.host+'/deal/changeDealStatus',{dealId:dealId,status:"waitComment"})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功

                            _this.initTable();
                            _this.$message({
                                message: '收货成功',
                                type: 'success'
                            });
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '收货'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            openComment:function(dealId){
                this.$prompt('请输入评价', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                }).then(({ value }) => {
                    this.$message({
                        type: 'success',
                        message: '评价成功'
                    });
                    this.comment(dealId,value);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消输入'
                    });
                });
            },
            openConfirm:function(dealId){
                this.$confirm('确认收货?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.confirm(dealId);
                    this.$message({
                        type: 'success',
                        message: '收货成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消收货'
                    });
                });
            },
            openDelete:function(dealId){
                this.$confirm('此操作将撤销该交易, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.delete(dealId);
                    this.$message({
                        type: 'success',
                        message: '撤销成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消撤销'
                    });
                });
            },
            openPay:function(dealId){
                this.$confirm('确认付款?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.pay(dealId);
                    this.$message({
                        type: 'success',
                        message: '付款成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消付款'
                    });
                });
            },
            comment:function(dealId,value){
                const _this=this;
                axios.post('http://'+window.location.host+'/deal/changeDealStatus',{dealId:dealId,status:"over",comment:value})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功

                            _this.initTable();
                            _this.$message({
                                message: '收货成功',
                                type: 'success'
                            });
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '评价'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            delete:function(dealId){
                const _this=this;
                axios.get('http://'+window.location.host+'/deal/deleteDeal',{params:{dealId:dealId}})
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功

                            _this.initTable();
                            _this.$message({
                                message: '撤销成功',
                                type: 'success'
                            });
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            _this.$bdmsg({
                                type:"toast",
                                msgType:"error",
                                message: '评价'+'失败！'+response.data.rtnMsg
                            });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
        },
        mounted: function() {
            const _this=this;
            var url = window.location.href;
            _this.userId =  url.split("?")[1].split("=")[1];
            _this.initForm();
            _this.initTable();
            _this.getShoppingCartCount();
        },
    });
</script>
</html>