<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户登录</title>

    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/vuescroll.css">

</head>
<body>
<background src=""></background>
<div id="login" class="divForm">
<el-card shadow="hover">
        <el-form ref="loginForm" :inline="true" :model="loginForm" label-width="70px" size="mini">
            <el-form-item label="用户登录"></el-form-item>
            <el-form-item label="账号" prop="username">
                <el-input v-model="loginForm.username" size="mini" autocomplete="off" clearable></el-input>
            </el-form-item><br>
            <el-form-item label="密码" prop="password">
                <el-input v-model="loginForm.password" size="mini" type="password" autocomplete="off" clearable></el-input>
            </el-form-item><br>
            <el-form-item size="mini">
                <el-button type="primary" @click="login">登录</el-button>
            </el-form-item><br>
        </el-form>
</el-card>

</div>




</body>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vuescroll-native.js"></script>
<script src="js/vuescroll-slide.js"></script>
<script src="js/vuescroll.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<style type="text/css">
    .divForm{
        position: absolute;/*绝对定位*/
        width: 350px;
        height: 200px;

        text-align: center;/*(让div中的内容居中)*/
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -150px;
    }
</style>
<script type="text/javascript">

    new Vue({
        el:'#login',
        data:function () {
            return {
                loginForm:{
                    username:'',
                    password:''
                }
            }
        },
        methods:{
            login(){
                this.loading=true;
                var _this=this;
                axios.get('http://'+window.location.host+'/login',
                    {params:{username:_this.loginForm.username?_this.loginForm.username:null,
                            password:_this.loginForm.password?_this.loginForm.password:null,
                        }}).then(function (response) {
                    if(response.data.rtnFlag=="9999"){//请求成功
                        //window.localStorage.setItem("username", response.data.rtnData.username)
                        window.location.href = "shop.html?avatar="+response.data.rtnData.avatar+"&id="+response.data.rtnData.id;
                        console.log(response.data.rtnData);
                    }else if(response.data.rtnFlag=="1001"){//未登录
                        // _this.loginDgVisible=true;
                    }else{

                        /*
                        _this.$bdmsg({
                            type:"toast",
                            msgType:"error",
                            message: '查询失败！'+response.data.rtnMsg
                        });
                        */
                    }
                    _this.loading=false;
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
        },
        //mounted:{},

    });
</script>
</html>
