<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>商品列表</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/vuescroll.css">
    <style>
        #box ul{
            display: flex;
            flex-wrap: wrap;
        }
        #box li{
            padding: 5px;
            list-style: none;
            margin-right: 15px;
            border: 1px solid #eee;
        }
        #box img{
            width: 200px;
            height: 200px;
        }
    </style>

</head>
<body>
<div id="shop">
    <el-container>
        <el-header>

            <!--存放头像等信息-->
            <el-row>
                <label>用户</label>
            </el-row>
            <el-row>
                <el-form ref="searchForm" :inline="true" :model="searchForm" class="demo-form-inline" align="center">
                    <el-form-item>
                        <el-input v-model="searchForm.name" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="search">搜索</el-button>
                    </el-form-item>
                    <!--商品和店铺选项-->
                    <!--<el-tabs @tab-click="handleTabClick">-->
                        <!--<el-tab-pane label="" name="all"></el-tab-pane>-->
                    <!--</el-tabs>-->
                </el-form>
            </el-row>

        </el-header>
        <el-main>
            <el-card>
            <div id="box">
                <ul>
                    <li v-for="v in cardData">
                        <img v-bind:src="v.condensePicLink" alt="">
                        <h4>{{v.name}}</h4>
                        <p>{{v.depict}}</p>
                        <p>评论量：{{v.commentNumber}}   ￥{{v.price}}元</p>
                    </li>
                </ul>
            </div>
            <div>
                <br>
            <el-pagination
                    :page-sizes="[6, 12, 24, 48]"
                    :current-page="searchForm.current"
                    :page-size.sync ="searchForm.size"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="searchForm.total">
            </el-pagination>
            </div>
            </el-card>
        </el-main>
    </el-container>

</div>
</body>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vuescroll-native.js"></script>
<script src="js/vuescroll-slide.js"></script>
<script src="js/vuescroll.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    new Vue({
        el:"#shop",
        data:function(){
            return{
                cardData:[],
                searchForm: {
                    current:1,
                    size:6,
                    total:null,
                    name:null,
                },
            }

        },
        methods:{
            search(){
                this.initTable();
            },
            initTable:function(){
                const _this=this;
                axios.post('http://'+window.location.host+'/goods/getData',_this.searchForm)
                    .then(function (response) {
                        if(response.data.rtnFlag=="9999"){//请求成功
                            _this.cardData=response.data.rtnData;
                            _this.searchForm.total=response.data.total;
                            console.log(_this.searchForm.total);
                        }else if(response.data.rtnFlag=="1001"){//未登录
                            //_this.loginDgVisible=true;
                        }else{
                            console.log(response);
                            // _this.$bdmsg({
                            //     type:"toast",
                            //     msgType:"error",
                            //     message: msg+'失败！'+response.data.rtnMsg
                            // });
                        }
                    }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            },
            handleSizeChange:function(val) {
                this.searchForm.size=val;
                this.initTable();
            },
            handleCurrentChange:function(val) {
                this.searchForm.current=val;
                this.initTable();
            },
        },
        mounted: function() {
            this.initTable();
        },
    });
</script>
</html>
